<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h1>Questions</h1>
  </div>
  <% if user_signed_in? %>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <%= link_to 'New Question', new_question_path, class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
</div>
<hr>

<div class='clearfix'></div>

<ul class="list-group">
  <% @questions.each do |question| %>
    <li class='list-group-item col-md-12'>
      <%= link_to question do %>
        <div class='question-title col-md-8'>
          <%= question.title %>
        </div>
        <div class="pull-right col-md-4">
          <%= render_datetime(question.created_at) %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @questions %>
