<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Q-A APP", root_path, class: 'navbar-brand' %>
    </div>

    <%= render 'questions/search_form' %>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "My Questions", my_questions_path %></li>
        <li><%= link_to "My Answers", my_answers_path %></li>
        <li><%= link_to "Log out", logout_path %></li>
      <% else %>
        <li><%= link_to "Log In with Google", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
